<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 BregaFunk</title>
</head>
<body>
   <!--Cabeçalho ou Início do meu site-->
   <header style="display: flex;">
    <!--Section Foto de perfil-->
    <section>
        <img src="perfil.jfif" alt="Imagem de perfil" height="100px" width="100px">
    </section>
    <!--Section Informações Pessoais-->
    <section>
        <br> <br>
        &nbsp;&nbsp;&nbsp;
        AlexSander | 30 Anos | @prof_alexsander | <br>
        &nbsp;&nbsp; alex.gomes@ios.org.br | Peixes
    </section>
</header>
<!--Navegação da minha página-->
<nav>
    <!--Tag <a href=""> refere-se ao link de navegação-->
        <hr>
    <a href="mySite.html">Eu e Eu mesmo</a>
    <a href="entretenimento.html">Entretenimento</a>
    <a href="musicas.html">Músicas</a>
        <hr>
</nav>

<!--Aqui começa minha lista-->
<main>
    <ol>
        <li>Anderson Neiff - Sigilo Perigoso</li>
        <li>Mc Danny - Tempestade</li>
        <li>Mc Reino - Diamente</li>
        <li>Mc Tocha - </li>
        <li>Dada Boladão - Surtada</li>
        <li>Shevchenko e Elloco - Chapuletei</li>
        <li>VT Kebradeira - Dog malvado</li>
        <li>Mc Troinha - Pode balançar</li>
        <li>Rave Brega funk</li>
        <li>Disputa das potrancas - Os cretinos</li>
    </ol>
</main>
<!--Rodapé-->
<footer>
    By Alex Sander &copy;
</footer>
</body>
</html>