<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<body>
    <!--Cabeçalho ou Início do meu site-->
    <header style="display: flex;">
        <!--Section Foto de perfil-->
        <section>
            <img src="perfil.jfif" alt="Imagem de perfil" height="100px" width="100px">
        </section>
        <!--Section Informações Pessoais-->
        <section>
            <br> <br>
            &nbsp;&nbsp;&nbsp;
            AlexSander | 30 Anos | @prof_alexsander | <br>
            &nbsp;&nbsp; alex.gomes@ios.org.br | Peixes
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <!--Tag <a href=""> refere-se ao link de navegação-->
            <hr>
        <a href="mySite.html">Eu e Eu mesmo</a>
        <a href="entretenimento.html">Entretenimento</a>
        <a href="musicas.html">Músicas</a>
            <hr>
    </nav>
    <!--Estrutura principal do site-->
    <main>
        <h1>Conheça um pouco do meu mundo</h1>
        <p>
            Salve, sou Alex Sander eu gosto de <br>
            Lorem ipsum dolor sit amet consectetur <br>
            adipisicing elit. In quas aut illo dolorum <br>
            eius quos laboriosam, laudantium necessitatibus?<br> 
            Obcaecati id dicta aliquam natus commodi! <br>
            Culpa eligendi nam sint mollitia laboriosam.
        </p>
        <ul>
            <li>
                Cuido de Animais
                <ul>
                    <li>Gata = Teka</li>
                    <li>Coelho = Baby Sander</li>
                    <li>Jabuti = Tina</li>
                </ul>
            </li>
            <li>Tenho muitas plantas</li>
            <li>Vou ter um filho ou filha</li>
            <li>Não ter chá de revelação</li>
            <li>Ferrou meu Carnaval</li>
            <li>Espero que não Ariano</li>
        </ul>
    </main>
    
    <!--Rodapé-->
    <hr>
    <footer>
        By Alex Sander &copy;
    </footer>
</body>
</html>