<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deixe sua mensagem</title>
</head>
<body>
   <!--Cabeçalho ou Início do meu site-->
   <header style="display: flex;">
    <!--Section Foto de perfil-->
        <section>
            <img src="perfil.jfif" alt="Imagem de perfil" height="100px" width="100px">
        </section>
        <!--Section Informações Pessoais-->
        <section>
            <br> <br>
            &nbsp;&nbsp;&nbsp;
            AlexSander | 30 Anos | @prof_alexsander | <br>
            &nbsp;&nbsp; alex.gomes@ios.org.br | Peixes
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <!--Tag <a href=""> refere-se ao link de navegação-->
            <hr>
        <a href="mySite.html">Eu e Eu mesmo</a>
        <a href="entretenimento.html">Entretenimento</a>
        <a href="musicas.html">Músicas</a>
        <a href="contato.html">Fale comigo</a>
            <hr>
    </nav> 
</body>
</html>