section {
    border: 1px solid blue;
    width: 100%;
    /* float: left; */
}

div {
    margin: 5px;
    width: 50px;
    height: 150px;
}

.esquerda {
    float: right; /* Flutuação do Box à esquerda */
    background: pink;
}

.direita {
    float: left;
    background: cyan;
}

.neutra {
    clear: both; /* Cancela o float */
    background: red;
}